<% if (title) { %>
    <h1>
      <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
  
      <%- messages() %>
  
        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>
  
            <form class="login-form" id="deleteForm" action="/inv/delete" method="post">
              <fieldset>        
                <label class="top">Make* <input type="text" name="inv_make"
                    readonly id="inv_make" value="<%= locals.inv_make %>"></label>
                <label class="top">Model* <input type="text" name="inv_model"
                    readonly id="inv_model" value="<%= locals.inv_model %>"></label>   
                <label class="top">Price* <input type="number" name="inv_price"
                    readonly id="inv_price" pattern="^[0-9]*$" value="<%= locals.inv_price %>"></label>                                         
                <label class="top">Year* <input type="number" name="inv_year"
                    readonly id="inv_year" pattern="^[0-9]*$" value="<%= locals.inv_year %>"></label>                        

                    <p>Confirm Deletion - The delete is permanent.</p>
                <input type="submit" value="Delete Vehicle"  class="submitBtn">
                <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
              </fieldset>
            </form>
            